body {
    padding-top: 3.5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.jumbotron {
    background: url('/images/jumbobackground.jpg') no-repeat center center;
}

.jumbotron-text {
    font-size: 1.3rem;

    text-shadow: 4px 4px 10px rgba(173, 173, 173, 0.95);
}

.jumbotron-name {
    text-shadow: 4px 4px 10px rgba(173, 173, 173, 0.95);
}

.highligh-text {
    font-weight: 600;
}

.normal-text {
    font-style: italic;
}

.btn-link {
    display: inline-block;
    padding: 0;
}
